---
extends: default

# For all rules
ignore: |
  .github/

rules:
  line-length:
    max: 180
    level: warning
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
  braces:
    min-spaces-inside: 0 # yamllint defaults to 0
    max-spaces-inside: 1 # yamllint defaults to 0
  comments:
    min-spaces-from-content: 1 # prettier compatibility
