# {{ ansible_managed }}

{% if certbot_dns_plugin == 'rfc2136' %}
dns_{{certbot_dns_plugin}}_server={{certbot_dns_target_server}}
dns_{{certbot_dns_plugin}}_port={{certbot_dns_target_server_port}}
dns_{{certbot_dns_plugin}}_name={{certbot_dns_tsig_keyname}}
dns_{{certbot_dns_plugin}}_secret={{certbot_dns_key_secret}}
dns_{{certbot_dns_plugin}}_algorithm={{certbot_dns_key_algorithm}}
{% endif %}
{% if certbot_dns_plugin == 'cloudflare' %}
dns_cloudflare_api_token={{certbot_dns_api_token}}
{% endif %}
{% if certbot_dns_plugin == 'digitalocean' %}
dns_digitalocean_token={{certbot_dns_api_token}} 
{% endif %}
{% if certbot_dns_plugin == 'luadns' %}
# LuaDNS API credentials used by Certbot
dns_luadns_email={{certbot_dns_api_email}}
dns_luadns_token={{certbot_dns_api_token}}
{% endif %}

